
body {
	margin: 8px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.link{
	color: #fff;
	font-size: 16px;
}
.form-container {
	padding-left: 7px;
	padding-right: 7px;
}

.owl-next {
	position: relative;
	top: -263px;
	right: -773px;
	font-size: 54px !important;
	color: #fff !important;
	z-index: 10 !important;
}

.owl-next:hover, .owl-prev:hover {
	color: blue !important;
	cursor: pointer;
}

.logo {
	margin-top: 2px;
	margin-bottom: 2px;
	box-shadow: 5px 5px 8px 5px #888888;
	position: relative;
	left: 13px;
	top: -6px;
}

.brandText {
	font-size: 34px;
	font-family: monospace;
	padding-top: 2%;
}

.owl-prev {
	position: relative;
	top: -263px;
	right: -9px;
	font-size: 54px !important;
	color: #fff !important;
	z-index: 10 !important;
}

.stage {
	margin-right: 2px !important;
}


.owl-stage-outer {
	box-shadow: 5px 5px 8px 5px #888888;
}

.footer {
	text-align: center;
	color: #fff;
	z-index: 100000 !important;
}

.form-control {
	border-radius: 8px;
}

.error {
	color: red;
}

.owl-item img {
	width: 96%;
	margin: 0 auto;
	height: 400px;
}

.header {
	height: 90px;
	min-height: 100px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.owl-next {
	
	right: -571px;
	
}
.brandText {
	font-size: 34px;
	font-family: monospace;
	padding-top: 2%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.owl-next {
		right: -771px;
	}
	
}


@media only screen
and (min-width : 1824px) {
.owl-next {
	right: -1616px;	
	}
	.brandText {
	text-align:left;
}
body{
	background-color: pink ;
    background-image: none !important;
}
}