.container {
	max-width: 540px;
	width: 400px;
	border: 1px solid blue;
	border-radius: 7px;
	box-shadow: 5px 17px 10px #956d6d;
	background: #fff;
}
.footer {
	color: #fff;
	position: absolute;
    bottom: 0px;
}
p{
	text-align: center !important;
    min-width: 1263px;
}
.text-info {
	color: #17a2b8 !important;
	font-weight: bold;
}

.form-control {
	color: black !important;
}

.error {
	color: red;
}
